streamlit
streamlit-folium
folium

python-dotenv

groq
langchain
langchain-core
langchain-groq
langchain-community

langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite

pydantic

requests
polyline

chromadb
langchain-chroma

pypdf

faiss-cpu

GitPython

google-api-python-client
google-auth
google-auth-oauthlib

pandas

tavily-python

watchdog